#credit-card-inputs {
    #credit-card-input {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 428px) {

    #credit-card-inputs {
        #credit-card-input {
            flex-direction: column;
        }
    }
}